In [1]:
import numpy as np
import pandas as pd
import requests
import seaborn as sns
import plotly.express as px

In [2]:
# Constants
ALPHAVANTAGE_API_KEY = '4WFJUHHYDKK1ZEEQ'

In [74]:
my_stocks = pd.DataFrame({'Date':[],'Symbol':[],'Price':[],'Perc_Change_From_Initial':[]})
my_stocks_initial_value = pd.DataFrame(columns=['Symbol','Initial Date', 'Initial Price'])

In [7]:

# symbols = ['PRNHX', 'MFEJX', 'VFIAX']

# for symbol in symbols:


#     # Get closing trading data and add as column to my_stocks
#     url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={ALPHAVANTAGE_API_KEY}'
#     response = requests.get(url)
#     symbol_data = response.json()

#     trading_data = symbol_data['Time Series (Daily)']

#     close_data_series = pd.to_numeric(pd.DataFrame(trading_data).T['4. close'].rename(symbol))

#     my_stocks[symbol] = close_data_series


#     # Get minimum date per stock and append to my_stocks_initial_value
#     initial_date = close_data_series.index.min()
#     initial_price = close_data_series[initial_date]

#     my_stocks_initial_value = my_stocks_initial_value.append({'Symbol':symbol, 'Initial Date':initial_date, 'Initial Price':initial_price}, ignore_index=True)


#     # Create and add series of evolution of price percentage increase as column to my_stocks
#     my_stocks[f'{symbol}_percentage_change'] = ((close_data_series / initial_price) - 1) * 100

# my_stocks = my_stocks.reset_index().rename(columns={'index':'Date'})

In [75]:
symbols = ['PRNHX', 'MFEJX', 'VFIAX']

for symbol in symbols:

    # Get closing trading data
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={ALPHAVANTAGE_API_KEY}'
    response = requests.get(url)
    symbol_data = response.json()

    trading_data = symbol_data['Time Series (Daily)']

    close_data_series = pd.to_numeric(pd.DataFrame(trading_data).T['4. close'].rename(symbol))


    # Get minimum date per stock and append to my_stocks_initial_value
    initial_date = close_data_series.index.min()
    initial_price = close_data_series[initial_date]

    my_stocks_initial_value = my_stocks_initial_value.append({'Symbol':symbol, 'Initial Date':initial_date, 'Initial Price':initial_price}, ignore_index=True)


    # Create and add series of evolution of price percentage increase as column to my_stocks
    this_symbol_perc_chg = ((close_data_series / initial_price) - 1) * 100


    # Bring together data
    this_stock_df = pd.DataFrame(close_data_series).reset_index().rename(columns={'index':'Date',f'{symbol}':'Price'})
    this_stock_df['Symbol'] = symbol
    this_stock_df['Perc_Change_From_Initial'] = this_symbol_perc_chg.array
    this_stock_df = this_stock_df[['Date','Symbol','Price','Perc_Change_From_Initial']]

    # Append data to my_stocks
    my_stocks = my_stocks.append(this_stock_df)

In [76]:
my_stocks

            Date Symbol   Price  Perc_Change_From_Initial
0     2022-05-12  PRNHX   46.72                 89.073250
1     2022-05-11  PRNHX   46.02                 86.240389
2     2022-05-10  PRNHX   47.92                 93.929583
3     2022-05-09  PRNHX   47.55                 92.432214
4     2022-05-06  PRNHX   50.57                104.653986
...          ...    ...     ...                       ...
5403  2000-11-17  VFIAX  126.44                  1.249199
5404  2000-11-16  VFIAX  126.86                  1.585522
5405  2000-11-15  VFIAX  128.47                  2.874760
5406  2000-11-14  VFIAX  127.82                  2.354260
5407  2000-11-13  VFIAX  124.88                  0.000000

[15389 rows x 4 columns]

In [73]:
my_stocks_initial_value

  Symbol Initial Date  Initial Price
0  PRNHX   1999-11-01          24.71
1  MFEJX   2005-03-31          30.11
2  VFIAX   2000-11-13         124.88

In [77]:
# Save results to .csv's
my_stocks.to_csv(r'C:\Users\Noah\Desktop\Stock BigQuery API Project\my_stocks')
my_stocks_initial_value.to_csv(r'C:\Users\Noah\Desktop\Stock BigQuery API Project\my_stocks_initial_Value')